VITE_SUPABASE_PWD=03ZPTFYMxsrdcMap


VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB1b3N5dnhkbGhmY3l4dHZld3BuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjA0NTU5MzcsImV4cCI6MjA3NjAzMTkzN30.7dLKBuIwEN8WslPom04FOL_ZdkyukglBPFaXT2D_8K4


VITE_SUPABASE_URL=https://puosyvxdlhfcyxtvewpn.supabase.co

# docker compose up